@import url(http://fonts.googleapis.com/css?family=Coustard|Podkova|Andada);

body {
	font-family: Coustard, Georgia, Verdana;
    background: -webkit-gradient(radial, center center, 0, center center, 400,
                               from(rgb(254, 254, 254)),
                               to(rgb(239, 239, 239)));
	font-size: 87.5%;
	position: relative;
	color: #222;
}

.point {
	font-size: 1.6em;
}

#headscroll ul {
	font-family: Andada;
	list-style: none;
}

#headscroll ul li dt {
	font-size: 2em;
}

#headscroll ul li {
	-webkit-transition: all 0.3s ease;
}

#headscroll ul li.current dt {
	font-size: 2.4em;
	color: #222;
	font-weight: bold;
}

#stage-wrap {
	display: table;
	margin: 20px auto;
	height: 600px;
	margin-top: 50px;
	width: 900px;
}

#headscroll {
	display: table-cell;
	color: #666666;
	vertical-align: middle;
	width: 340px;
	padding-right: 60px;
	background: url(img/shad2.png) 116% center no-repeat;
}

#headscroll ul {
	text-align: right;
	padding: 0;
}


#slide-content {
	-webkit-transition: all 0.2s ease-out;
    text-shadow: #ddd 0 0 10px;
	display: table-cell;
	text-align: left;
	padding-left: 30px;
	font-size: 2.2em;
	vertical-align: middle;
}

#timeline {
	position: relative;
	font-family: Podkova;
	height:100%;
	width: 100%;
	color: #999999;
}

.handwritten {
	font-family: 'Gochi Hand';
}

#timeline-labels {
	margin-top: 1em;
	font-size: 4em;
}

#timeline-wrap {
	box-shadow: 0 0 15px #000;
	position: fixed;
	bottom: 0;
	left: 0;
	height: 15em;
	background-color: #222;
	width: 100%;
}

.timeline-point-label {
	position: absolute;
	margin-left: -60px;
}

.timeline-point-label.current {
	color: #fff;
	text-shadow: #000 0px 0px 20px;
}

.timeline-point-line {
	margin-top: 4em;
	border-bottom: 2px #999999 solid;
	border-right: 2px #999999 solid;
	height: 2em;
	position: absolute;
}

#thickbox {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 20%;
    left: 20%;
    height: 80%;
    width: 60%;
    display: none;
    background: white;
    border-radius: 12px;
    font-size: 2em;
    overflow: auto;
    padding: 40px 60px;
    box-shadow: #000 0px 0px 40px;
}

h3 {
    font-weight: none;
    
    font-family: Podkova;
}
.popout_link {
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.summary li {
list-style-type: square;
list-style-color: #999;
}
